@import "tailwindcss";

/* Custom theme colors */
:root {
  --color-jtheme-light-green: #12d39d; 
  --color-jtheme-mid-green: #0ea47a; 
  --color-jtheme-dark-green: #0a7557; 
  --color-jtheme-black: #111111; 
  --color-jtheme-grey: #e6e6e6;
}